.bubblechart{
  height:100%;
  background-color: green;
}

.stack_pie{
  padding:0;
  margin:0;
  width: 100%;
  height:100%;
}

.stackchart{
  height: 65%;
  background-color: red;
}

.piechart{
  height: 35%;
  background-color: blue;
}
