.stack_pie {
  height:100%;
}

/**********************  BUBBLECHART  **********************/
.bubblechart {
  height:100%;
}

.bubblechart g {
  cursor: pointer;
}

.bubblechart g text {
  text-anchor: middle;
  font-family: sans-serif;
  fill: white;
}

.bubblechart title {
  background: black;
  fill: white;
  stroke: white
}

/**********************  STACKED BARCHART  **********************/
.stackchart {
  height: 55%;
}

/**********************  SUNBUSRST  **********************/
.sunburst {
  height: 45%;
  background-color: blue;
}
