* {
  box-sizing: border-box;
}

body, html {
  font-family: "Quicksand", sans-serif;
  height: 100%;
  width: 100%;
}

header{
  height: 15%;
  width: 100%;
  padding-left: 12px;
  padding-bottom: 12px;
}

.btn-group{
  height: 5%;
  padding-left: 10px;
  padding-right: 10px;
}

.page_container{
  height: 80%;
  width: 100%;
  /*padding-top: 20px;*/
}
