body, html {
  font-family: "Quicksand", sans-serif;
  height: 97%;
  width: 98%
}

header{
  height: 13%;
  padding-left: 12px
}

.btn-change{
  width: 10%;
  margin-left: 22px;
}

.buttons{
  height: 5%;
  text-align: center;
  width: 100%;
}

.page_container{
  height: 80%;
  width: 100%;
  /*padding-top: 20px;*/
}
