.countries{
  height: 100%;
  padding: 10px;
}

.linechart{
  height: 100%;
}

.selected{
  opacity: 1;
}

.lines {
  fill: none;
  stroke-width: 1.5px;
}

svg .grid line {
  stroke: lightgray;
  stroke-width: 0.7px;
  stroke-dasharray: 4px, 2px;
}

svg #xAxis {
  text-anchor: start;
}
