.countries{
  height: 100%;
  padding-top: 10px;

  /*background-color: green;*/
}

.linechart{

  height: 100%;
  padding-top: 10px;
  /*background-color: red;*/

}

.selected{
  opacity: 1;
}

.lines {
  fill: none;
  stroke-width: 1.5px;
}
