.timeline {
  height: 100%;
  padding-top: 50px;
}

.map{
  height: 100%;
}

.events{
  height: 100%;
}


/* countries */

.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}

.axis {
  stroke: #f7f7f7;
  fill: #BF360C;
}

.axis_occupied{
  stroke: #f7f7f7;
  fill: #EF5350;
}

.allies{
  stroke: #f7f7f7;
  fill: #0277BD;
}

.neutral{
  stroke: #f7f7f7;
  fill: #d9d9d9;
}

.gold {
    fill: #FFD700;
    opacity: .8;
    stroke: #252525;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    line-height: .7;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 360px;
    font-weight: bold;
    font: 10px sans-serif;
    border-radius: 4px;
    pointer-events: none;
}

#xAxis path {
    fill: none;
    stroke: black;
}

#xAxis text{
    font-size: 15px;
}

.events_info{
  padding: 10px;
  height: 100%;
}

.events_outside_info{
  padding-top: 10px;
  padding-right: 50px;
}

#legend {
  color:red
}
