.title{
  height:6%;
  text-align: center;
}

.map{
  height: 100%;
}

/* countries */
.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}

.axis {
  fill: #BF360C;
}

.axis_occupied{
  fill: #EF5350;
}

.allies{
  fill: #0277BD;
}

.neutral{
  fill: #d9d9d9;
}

.gold {
    fill: #FFD700;
    opacity: .8;
    stroke: #252525;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    line-height: .7;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 360px;
    font: 10px sans-serif;
    border-radius: 4px;
    pointer-events: none;
}

.events{
  height: 100%;
  border-left: solid lightgray 1px;
}

.events_info{
  height: 100%;
}

.events_outside_info{
  padding-top: 10px;
  padding-right: 50px;
}

li p {
  font-size: 15px;
  font-weight: normal;
}

.map_events{
  height:78%;
}

/* TIMELINE */
.timeLine-container{
  height:18%
}

.timeline {
  height: 100%;
  padding-top: 50px;
}

.timeline path {
    fill: none;
    stroke: black;
}

.timeline text{
    font-size: 15px;
    cursor: pointer;
}
